%h1= @trip.name

%h2 Booking Options

= form_for Order.new do |f|
  .options

    %h3 Hotel Options

    .length_of_stay Number of nights
    = hidden_field_tag :trip_id, @trip.id
    = @trip.length_of_stay_select_tag

    - @hotels.each do |hotel|
      %div[hotel.__getobj__]
        = hotel.booking_radio_button_tag
        = hotel.short_description

    %h3 Activity Options
    - @activities.each do |activity|
      %div[activity.__getobj__]
        = activity.booking_check_box_tag
        = activity.short_description

    %br
  = f.submit "Order"
